<section>
    <h1>Calc Program</h1>
    <p>
        <input [(ngModel)]="fValue" type="number" placeholder="Enter First Value"/>
        <select [(ngModel)]="option">
            <option>Add</option>
            <option>Subtract</option>
            <option>Multiply</option>
            <option>Divide</option>
        </select>
        <input [(ngModel)]="sValue" type="number" placeholder="Enter Second Value"/>
        <button (click)="onProcess()">=</button>
        <span>{{result}}</span>
    </p>
    </section>
